allScreenKeyboardDesktop/fonts
allScreenKeyboardDesktop/node_modules
allScreenKeyboardDesktop/exports
allScreenKeyboardDesktop/profiles
allScreenKeyboardDesktop/templateImages
keyboard/profiles
keyboard/videos
keyboard/profiles.zip
glyphs
node_modules
out
test.js
test.py
keyboard/vcpkg/
.vscode/settings.json
